{% extends "main_app/base.html" %}
{% load static %}

{% block title %}Explain 4 skufs & normi${% endblock title %}
{% block name %}Значение слов{% endblock name %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4 text-info">🧠 Опрос по терминам</h1>

    <form action="" method="get" class="mb-4">
        <div class="mb-3">
            <label for="query_explain" class="form-label">Введите вопрос</label>
            <input type="text" name="query_explain" id="query_explain" class="form-control form-control-sm" placeholder="Например: skuf, normie, sigma...">
        </div>
        <button type="submit" class="btn btn-outline-info">Отправить</button>
    </form>

    {% if answer %}
    <div class="answer-block bg-dark p-3 rounded text-light border border-info">
        <p class="mb-0">{{ answer }}</p>
    </div>
    {% endif %}

    <div class="mt-5 text-center justify-content-betweеn">
        <div class="d-flex flex-column align-items-center justify-content-center">
        <img src="{% static 'img/brain.jpeg' %}" alt="brain" class="img-fluid rounded mb-2">
        <img src="{% static 'img/smart.jpeg' %}" alt="жаль, не все поймут" class="img-fluid rounded mb-2">
        <img src="{% static 'img/oxxxy.jpeg' %}" alt="oxxxy smart af))" class="img-fluid rounded mb-2">
        </div>
        <div>
        <img src="{% static 'img/party-guy.jpeg' %}" alt="party-guy" class="img-fluid rounded mb-2">
        </div>
        <img src="{% static 'img/tayler30ft.smart.png' %}" alt="tayler smart))" style="position: fixed; bottom: 0; left: 0; width: 120%; height: 100%; z-index: -1; opacity: 0.8;">

    </div>
</div>
{% endblock content %}