{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>undrwrld</title>
</head>

<body>
    <div class="zagolovok"><h1='zagolovok'>UNDERWORLD.</h1></div>
    <div class="container">
        <div class="left">
            <h1>что тут происходит</h1>
            <p>Это текст в левом блоке. Он расположен слева и будет отображаться на красном фоне. Здесь можно написать какую-то информацию или описание.</p>
        </div>
        <div class='between'>
            <h2>
            <a href="/explain"> что значит слова жеские </a>
            </h2>
        </div>
        <div class="right">
            <h1>о чем сайт</h1>
            <p>Это текст в правом блоке. Он расположен справа и также будет отображаться на красном фоне, но с немного другим оттенком. Дополнительный контент можно добавить сюда.</p>
        </div>
    </div>
    <div class="down">
        <a href="/quiz"> переход к викторинам </a>
    </div>
    
</body>

</html>

