html, body {
  background-color: #121212;
  color: #f8f9fa;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header {
  background-color: #000;
  color: #fff;
  padding: 1rem 0;
}

a {
  color: #dc3545;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 2rem 0;
}

.left-panel {
  flex: 1;
}

.right-panel {
  width: 300px;
}

.form-block {
  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #333;
}

.form-label {
  color: #ccc;
}

.form-control {
  background-color: #2c2c2c;
  border: none;
  color: #fff;
}

.form-control::placeholder {
  color: #888;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-danger:hover {
  background-color: #bb2d3b;
}

.search {
  display: block;
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s;
}

.buttons-hide{
  display: block;
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s;
}

.buttons-hide:hover {
  background-color: #2c2c2c;
}

.stata {
  color: #ffffff;
}

.red-button{
  display: none;
}

.buttons-hide:hover .red-button{
  display: block;
}




